@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cinzel";
  src: url("../../public/fonts/Cinzel-Regular.ttf");
}

@font-face {
  font-family: "Kepler";
  src: url("../../public/fonts/KeplerStd-Italic.otf");
}

body {
  color: #1A1A1A;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.fade-in-out {
  animation: fadeInOut 1.2s ease-in-out infinite alternate;
  -webkit-animation: fadeInOut 1.2s ease-in-out infinite alternate;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.8;
  }


  100% {
    opacity: 1;
  }
}


.chat-shadow {
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.10), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
}

.hover-card:hover+.card {
  opacity: 1;
}

li {
  margin-left: 16px;
  font-weight: 400;
  line-height: 24px;
}

li::marker {
  font-size: 14px;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  position: relative;
  left: 100px;
}


.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: white;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #DDDDDD;
  border-radius: 100vh;
  border: 3px solid white;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #DDDDDD;
}

@media screen and (min-width: 901px) {
  li {
    margin-left: 28px;
    line-height: 30px;
  }
  .scrollbar-custom {
    padding-right: 30px; /* Add extra space on the right to offset content */
    margin-right: -30px; /* Pull the scrollbar track left by 100px */
    overflow-y: scroll; /* Ensure the scrollbar appears */
  }  
}

.react-international-phone-input-container{
  width: 100%;
}

.react-international-phone-country-selector{
  width: 80px;
}

.react-international-phone-country-selector-button{
  padding-left: 7px;
  padding-right: 3px;
  height: 38px !important;
  background-color: #F6F4EE !important;
  border: 1px solid #000 !important;
  border-right: 0 !important;
  width: 100% !important;
  border-radius:  0 !important;
}
.react-international-phone-input-container .react-international-phone-input{
  width: 100%;
  height: 38px !important;
  background-color: #F6F4EE !important;
  font-size: 16px !important;
  border: 1px solid #000 !important;
  border-radius:  0 !important;
}

.MuiLoadingButton-root {
  /* background: none !important; */
  border: 1px solid #999999;
  box-shadow: none !important;
  font-family: inherit !important;
  color: inherit;
  text-transform: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  border-radius: inherit !important;
}

.MuiLoadingButton-root:disabled{
  cursor: not-allowed !important;
  pointer-events: inherit !important;
}
.MuiLoadingButton-root:disabled:hover{
  background: none !important;
}