@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cinzel";
  src: url("../../public/fonts/Cinzel-Regular.ttf");
}

@font-face {
  font-family: "Kepler";
  src: url("../../public/fonts/KeplerStd-Italic.otf");
}

body {
  color: #1a1a1a;
}

.slick-dots li button:before {
  color: #DAD6C9 !important;
  font-size: 8px !important;
  opacity : 1 !important;

}

.slick-dots li.slick-active button:before   {
  color: #C72030 !important;
  font-size: 8px !important;
}